In [5]:
# Pandas is used for the data manipulation, analysis and cleaning.
#DataFrames: A DataFrame is a Two-Dimensional, size-mutable, potentially heterogeneous tabular data.
import pandas as pd
import numpy as np
#To Create Series in Python using Pandas
s = pd.Series([1,2,3,4,5,6,np.nan,9,8,10])
print(s)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     9.0
8     8.0
9    10.0
dtype: float64

In [13]:
#To chreate dataframe by passing NumPy Array with datetime index and labeled column
import pandas as pd
import numpy as np
d=pd.date_range('20200301', periods=10)
print(d)

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [14]:
#To create a DataFrame by passing a NumPy Array with datetime index and labelled columns i.e. A,B,C,D
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
print(df)

                   A         B         C         D
2020-03-01  1.106088 -1.521726 -1.611464 -1.374270
2020-03-02 -0.839871  1.108191 -0.481480 -0.441423
2020-03-03  0.188043  0.197939 -0.378154  0.488642
2020-03-04 -1.321588  0.193217  0.824925  0.288504
2020-03-05  0.414479  0.662417 -1.275824  0.579517
2020-03-06 -0.340765  0.651096 -0.085791  1.786402
2020-03-07 -0.315872  0.396098 -1.655936  0.408546
2020-03-08  0.211416  0.553659 -0.208076  1.509373
2020-03-09 -0.859433  0.028453 -0.851388 -2.201809
2020-03-10  1.019505 -0.869418 -0.299734 -0.970883

In [15]:
#To create DataFrame by passing the dictionary of objects
import pandas as pd
import numpy as np
df1=pd.DataFrame({'A':[1,2,3,4],
                 'B':pd.Timestamp('19980622'),
                 'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                 'D':np.array([5]*4, dtype='int32'),
                 'E':pd.Categorical(['true','False','True','False']),
                 'F':'Akanksha'})
print(df)

                   A         B         C         D
2020-03-01  1.106088 -1.521726 -1.611464 -1.374270
2020-03-02 -0.839871  1.108191 -0.481480 -0.441423
2020-03-03  0.188043  0.197939 -0.378154  0.488642
2020-03-04 -1.321588  0.193217  0.824925  0.288504
2020-03-05  0.414479  0.662417 -1.275824  0.579517
2020-03-06 -0.340765  0.651096 -0.085791  1.786402
2020-03-07 -0.315872  0.396098 -1.655936  0.408546
2020-03-08  0.211416  0.553659 -0.208076  1.509373
2020-03-09 -0.859433  0.028453 -0.851388 -2.201809
2020-03-10  1.019505 -0.869418 -0.299734 -0.970883

In [16]:
import pandas as pd
import numpy as np
print(df.dtypes)

A    float64
B    float64
C    float64
D    float64
dtype: object

In [17]:
#To View Data using Pandas Library: It is very important to understand the various aspects to view the data in order to work on it.
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.head()

                   A         B         C         D
2020-03-01 -1.639683 -0.029709 -0.091937  0.365003
2020-03-02  0.175224 -0.881299 -0.845883 -0.751133
2020-03-03 -1.090369 -1.128024  0.073043 -0.588850
2020-03-04  0.002777 -1.327249  2.270551 -1.124334
2020-03-05  1.558015 -0.306503  0.295755  0.181145

In [18]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.tail()

                   A         B         C         D
2020-03-06  0.885481  0.470666 -1.685994 -0.106709
2020-03-07 -2.002921 -0.566675 -1.568082 -0.812312
2020-03-08 -1.268296  0.127269  0.680084  0.100161
2020-03-09 -0.970156  0.308749 -0.589475 -1.349215
2020-03-10  0.150708 -0.103877 -0.704223 -1.029542

In [19]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [21]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.to_numpy()

array([[-2.41357309, -0.44301422, -0.02139137,  0.81813407],
       [-2.01579615,  0.09300994, -1.37604424, -0.41902255],
       [ 1.18679877, -0.333884  , -0.11412003,  0.5014544 ],
       [-0.28662699,  2.4942838 ,  0.39000744, -0.36276394],
       [-1.53780012, -0.795686  , -1.37256757, -0.29950734],
       [-0.44484486,  0.94304937,  0.83290383,  1.61881955],
       [ 0.66220416,  1.81454428,  1.01020941, -1.83415047],
       [-0.24714128,  0.58744768,  0.0855305 , -0.87120751],
       [-1.09057572, -0.71442894, -0.90445139, -0.791552  ],
       [ 1.14189057,  0.72952826, -0.47335123,  1.0740222 ]])

In [22]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.710290  -0.078659   0.238363   0.323159
std     0.913183   1.020615   0.894981   1.069174
min    -2.745661  -1.831590  -0.982080  -1.224660
25%    -1.076147  -0.769367  -0.451440  -0.253796
50%    -0.596194  -0.056529   0.135414   0.078711
75%    -0.066602   0.773664   1.102721   1.283653
max     0.315909   1.389715   1.383326   1.822999

In [23]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-03-01 -1.339188  0.019299 -0.952959  0.553891
2020-03-02 -0.186300 -0.440335 -1.077777 -1.280107
2020-03-03 -2.192739  0.066321  0.868899 -0.327121
2020-03-04  0.611412  0.875523 -2.336207  0.055196
2020-03-05  1.016204 -1.432560 -1.688166  1.228042
2020-03-06  0.218762 -0.323241 -1.133929  1.466973
2020-03-07 -0.116478 -0.316336  0.386957  1.121886
2020-03-08  0.511879 -0.054606 -0.075886  1.811097
2020-03-09  0.395520 -0.410019  0.079717 -1.939281
2020-03-10  0.500891 -1.288473  0.143105  0.480790

In [24]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.sort_values(by='C')

                   A         B         C         D
2020-03-03  0.241272 -0.229080 -1.950155 -1.164593
2020-03-10 -0.028894 -0.653823 -0.218759 -1.166198
2020-03-09 -0.625815 -0.133090 -0.107455 -0.061665
2020-03-01 -0.349769  0.694819 -0.107148 -0.190082
2020-03-07 -0.132950  0.211295 -0.091872 -0.958865
2020-03-02 -0.214764  1.261222  0.346237 -0.973746
2020-03-05  0.307632 -1.028736  0.486517 -1.342793
2020-03-06  1.003104 -1.383767  0.549165  1.675452
2020-03-04  0.562515 -0.323667  0.660270  0.814692
2020-03-08 -0.837790 -0.642700  1.774894  0.544927

In [25]:
#To select single column form the dataframe.
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df['C']

2020-03-01   -0.141702
2020-03-02   -0.314199
2020-03-03    0.082990
2020-03-04    1.638732
2020-03-05    1.008197
2020-03-06    1.409953
2020-03-07   -1.567590
2020-03-08   -0.993881
2020-03-09   -1.407694
2020-03-10   -0.784453
Freq: D, Name: C, dtype: float64

In [26]:
#To Slice the row in DataFrame
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df[0:3]

                   A         B         C         D
2020-03-01  0.824425  0.578649 -1.364279  1.980549
2020-03-02 -0.835019 -0.215774 -0.653406  0.239951
2020-03-03 -0.445221 -0.223184  0.202055  0.824970

In [27]:
#To select data using the Labels
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.loc[d[0]]

A    0.231878
B   -0.275698
C    1.249888
D   -0.644161
Name: 2020-03-01 00:00:00, dtype: float64

In [28]:
#Selecting data on the Multiaxis by label
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.loc[:,['A','C']]

                   A         C
2020-03-01 -0.326008  1.229695
2020-03-02  0.028773  0.920565
2020-03-03 -0.673567 -1.029850
2020-03-04 -1.183980 -0.054857
2020-03-05 -1.376337  1.309053
2020-03-06  0.796507  0.190534
2020-03-07  0.418545 -0.494161
2020-03-08  0.417106  3.025417
2020-03-09 -0.413030 -0.010853
2020-03-10 -0.872976  1.695852

In [29]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.loc[:,['D', 'C']]

                   D         C
2020-03-01 -1.327981  0.486205
2020-03-02 -1.194179  2.354249
2020-03-03  0.846332  0.048705
2020-03-04 -0.048564 -0.747738
2020-03-05  0.311511  0.708011
2020-03-06  0.011113  0.325739
2020-03-07  1.872798 -0.485714
2020-03-08 -0.939772 -1.051130
2020-03-09 -1.396298 -1.167438
2020-03-10 -0.277950  0.805198

In [30]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.at[d[0], 'C']

np.float64(1.853958593136351)

In [31]:
#TO MERGE TWO DATAFRAMES
import pandas as pd
df1 = pd.DataFrame({'A':[1,2,3], 
                    'B': [4,5,6]},
                    index = [10,20,30])
df2 = pd.DataFrame({'C':[7,8,9],
                    'D':[10,11,12]},
                    index=[20,30,40])

result = pd.merge(df1,df2,left_index=True,right_index=True)
print(result)

    A  B  C   D
20  2  5  7  10
30  3  6  8  11

In [40]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
print(df.sort_values(by='A',ascending=False))
print(df.mean())
print(df.median())
print(df.mode())
print(df.var())
print(df.std())
print(df.quantile())

                   A         B         C         D
2020-03-08  0.778328 -0.820660  0.277056 -0.717965
2020-03-10  0.216633  0.444418  1.507534 -2.075223
2020-03-09  0.115971 -0.826563  1.784573 -0.525347
2020-03-03 -0.117021  0.940203 -0.362365  0.469842
2020-03-01 -0.533939 -0.566267 -0.317442  0.688473
2020-03-05 -0.715129  0.555418 -1.240203  0.447372
2020-03-06 -0.762613 -1.118815  1.145011 -1.069626
2020-03-04 -0.831143 -1.194148  0.189325 -0.014269
2020-03-02 -1.391324 -1.100563  0.955527 -0.092859
2020-03-07 -3.859296  0.303311 -0.939394  0.009655
A   -0.709953
B   -0.338367
C    0.299962
D   -0.287995
dtype: float64
A   -0.624534
B   -0.693463
C    0.233191
D   -0.053564
dtype: float64
          A         B         C         D
0 -3.859296 -1.194148 -1.240203 -2.075223
1 -1.391324 -1.118815 -0.939394 -1.069626
2 -0.831143 -1.100563 -0.362365 -0.717965
3 -0.762613 -0.826563 -0.317442 -0.525347
4 -0.715129 -0.820660  0.189325 -0.092859
5 -0.533939 -0.566267  0.277056 -0.014269
6 -0.117021  0.303311  0.955527  0.009655
7  0.115971  0.444418  1.145011  0.447372
8  0.216633  0.555418  1.507534  0.469842
9  0.778328  0.940203  1.784573  0.688473
A    1.615373
B    0.655931
C    1.060768
D    0.701835
dtype: float64
A    1.270973
B    0.809896
C    1.029936
D    0.837756
dtype: float64
A   -0.624534
B   -0.693463
C    0.233191
D   -0.053564
Name: 0.5, dtype: float64

In [41]:
print(df.describe)

<bound method NDFrame.describe of                    A         B         C         D
2020-03-01 -0.533939 -0.566267 -0.317442  0.688473
2020-03-02 -1.391324 -1.100563  0.955527 -0.092859
2020-03-03 -0.117021  0.940203 -0.362365  0.469842
2020-03-04 -0.831143 -1.194148  0.189325 -0.014269
2020-03-05 -0.715129  0.555418 -1.240203  0.447372
2020-03-06 -0.762613 -1.118815  1.145011 -1.069626
2020-03-07 -3.859296  0.303311 -0.939394  0.009655
2020-03-08  0.778328 -0.820660  0.277056 -0.717965
2020-03-09  0.115971 -0.826563  1.784573 -0.525347
2020-03-10  0.216633  0.444418  1.507534 -2.075223>