In [5]:
# Pandas is used for the data manipulation, analysis and cleaning.
#DataFrames: A DataFrame is a Two-Dimensional, size-mutable, potentially heterogeneous tabular data.
import pandas as pd
import numpy as np
#To Create Series in Python using Pandas
s = pd.Series([1,2,3,4,5,6,np.nan,9,8,10])
print(s)

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     9.0
8     8.0
9    10.0
dtype: float64

In [9]:
#To chreate dataframe by passing NumPy Array with datetime index and labeled column
import pandas as pd
import numpy as np
d=pd.date_range('20200301', periods=10)
print(d)

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [12]:
#To create a DataFrame by passing a NumPy Array with datetime index and labelled columns i.e. A,B,C,D
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
print(df)

                   A         B         C         D
2020-03-01 -0.152021 -0.964467 -0.900572  1.375029
2020-03-02 -0.111666  0.985226 -0.184397 -0.554774
2020-03-03  0.408085  0.313087  0.070382  1.282344
2020-03-04  1.884621  0.551508  0.839011 -1.268787
2020-03-05  1.657972  1.118167  0.117698  0.098354
2020-03-06  1.372671 -1.764399 -0.348159 -0.048153
2020-03-07  1.156389  0.063470  0.802397  0.875822
2020-03-08  0.492519  0.244765  0.341589  1.018621
2020-03-09  0.357851  0.242982  0.493807  0.981937
2020-03-10  0.277069 -0.395888 -0.324904  0.005715

In [17]:
#To create DataFrame by passing the dictionary of objects
import pandas as pd
import numpy as np
df1=pd.DataFrame({'A':[1,2,3,4],
                 'B':pd.Timestamp('19980622'),
                 'C':pd.Series(1, index=list(range(4)), dtype='float32'),
                 'D':np.array([5]*4, dtype='int32'),
                 'E':pd.Categorical(['true','False','True','False']),
                 'F':'Akanksha'})
print(df)

   A          B    C  D      E         F
0  1 1998-06-22  1.0  5   true  Akanksha
1  2 1998-06-22  1.0  5  False  Akanksha
2  3 1998-06-22  1.0  5   True  Akanksha
3  4 1998-06-22  1.0  5  False  Akanksha

In [19]:
import pandas as pd
import numpy as np
print(df.dtypes)

A            int64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [62]:
#To View Data using Pandas Library: It is very important to understand the various aspects to view the data in order to work on it.
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.head()

                   A         B         C         D
2020-03-01 -0.012864 -0.140180  0.075309  2.144985
2020-03-02 -0.761481 -0.560811  0.037452 -0.098315
2020-03-03 -1.323873 -0.421194  1.165612  0.321176
2020-03-04  0.247745  0.337755 -0.009136 -1.437089
2020-03-05  0.442289 -0.395528  0.617596 -1.666984

In [63]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.tail()

                   A         B         C         D
2020-03-06 -2.177726  1.157962  0.580399  0.085890
2020-03-07  1.325715 -1.314120  0.859109 -0.545577
2020-03-08  1.005556  0.126856  1.538642  0.076482
2020-03-09  0.106810  0.411828  0.027179 -0.352540
2020-03-10 -1.777035 -0.249815  1.713648  1.390307

In [64]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [66]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [67]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.to_numpy()

array([[-0.42391545, -1.55323497,  0.13831525, -0.68318995],
       [-1.24896465, -0.05806306, -0.2703561 , -1.37738766],
       [ 0.24593294,  1.16596126, -1.20826702, -1.74876181],
       [ 2.66830676, -0.5766815 , -0.70025688, -0.650037  ],
       [ 0.09750495, -0.84395738, -0.94523953, -0.75911098],
       [-0.21887122,  0.25975838,  0.47656279, -0.70644285],
       [-0.63060067,  0.64452739, -0.24542864, -0.14145319],
       [-1.35036736, -1.05683085,  0.89989657,  0.32729824],
       [ 0.61163744, -1.20090414,  1.99426875, -1.57584145],
       [ 0.52845804,  0.74797911, -0.00730781, -0.64402925]])

In [68]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.454758   0.246479  -0.371441  -0.195643
std     1.035254   0.959943   1.003174   1.220185
min    -0.827061  -1.241153  -1.886712  -2.362850
25%    -0.333487  -0.445742  -0.816457  -0.793686
50%     0.198816   0.236264  -0.215873  -0.415211
75%     0.858920   0.853080   0.159930   0.927249
max     2.315876   1.705444   1.343983   1.327760

In [69]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-03-01 -0.828900  1.766831 -1.432717  1.030948
2020-03-02  0.269410 -0.149240  0.750789  0.703522
2020-03-03  0.000304  0.638147  0.312117 -0.915804
2020-03-04  1.664016  1.171566  0.107123 -0.836191
2020-03-05  0.658665 -0.795788 -0.101324  0.720434
2020-03-06  1.198454 -0.020567 -0.061839 -1.754495
2020-03-07 -0.562613 -0.148147  0.779483 -0.006509
2020-03-08 -0.682122 -0.456308 -0.930965 -0.678645
2020-03-09 -0.968842 -0.549364  0.619262  1.649158
2020-03-10 -0.925306 -0.320347  0.802182 -0.167551

In [70]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.sort_values(by='C')

                   A         B         C         D
2020-03-03  0.197558  0.646148 -1.496294 -0.961796
2020-03-02 -0.351018 -0.140823 -1.427352 -1.483885
2020-03-10 -0.046822 -1.288371 -0.808102  0.019492
2020-03-09 -0.470002  0.052268 -0.792543  0.991030
2020-03-08 -1.976374 -0.059216 -0.660886 -1.074877
2020-03-01 -1.134936 -1.009616 -0.247273  0.650622
2020-03-04 -0.382868 -1.017220  1.152069  0.070222
2020-03-06  0.315375  0.450536  1.911362 -0.627627
2020-03-07  0.733465  0.487393  2.134575  0.516894
2020-03-05  0.264598  0.860861  2.260238  0.002101

In [71]:
#To select single column form the dataframe.
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df['C']

2020-03-01    2.171279
2020-03-02    0.531437
2020-03-03    2.301537
2020-03-04    1.648414
2020-03-05    0.361273
2020-03-06   -1.015733
2020-03-07   -0.055915
2020-03-08   -1.129545
2020-03-09    0.285701
2020-03-10   -0.334505
Freq: D, Name: C, dtype: float64

In [72]:
#To Slice the row in DataFrame
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df[0:3]

                   A         B         C         D
2020-03-01 -0.200249  1.142536  1.447762 -1.873614
2020-03-02  0.104538  0.063723 -0.572742  0.149802
2020-03-03 -0.056373 -0.286896  1.080238 -0.724868

In [73]:
#To select data using the Labels
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.loc[d[0]]

A   -1.056279
B    1.132668
C    2.119447
D    1.022220
Name: 2020-03-01 00:00:00, dtype: float64

In [75]:
#Selecting data on the Multiaxis by label
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.loc[:,['A','C']]

                   A         C
2020-03-01  1.203924  2.353981
2020-03-02 -0.104811 -1.195254
2020-03-03  0.543449  0.828269
2020-03-04  0.720884 -0.352501
2020-03-05  0.498739  0.348999
2020-03-06  0.882108 -1.320316
2020-03-07  1.297783  1.074713
2020-03-08  0.489109  0.682515
2020-03-09  0.348504 -0.566031
2020-03-10 -0.290444  1.911834

In [78]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.loc[:,['D', 'C']]

                   D         C
2020-03-01 -0.186843 -0.238003
2020-03-02  0.579472 -0.413993
2020-03-03 -0.856258 -0.108390
2020-03-04  1.764975 -2.022703
2020-03-05  0.772736  0.341376
2020-03-06  0.569742  0.493600
2020-03-07 -0.894087  0.809720
2020-03-08  1.148185  0.958368
2020-03-09  0.392789 -0.834718
2020-03-10  0.682949  0.865976

In [79]:
df=pd.DataFrame(np.random.randn(10,4), index=d,columns=['A','B','C','D'])
df.at[d[0], 'C']

np.float64(0.6569263202617202)